<div class="container-fluid">
  <div class="row equal">
      <div class="col-sm-2">
      <button class="btn btn-primary" routerLink="/placement">New Game</button>
      </div>
      <div class="col-sm-2">
      <button class="btn btn-secondary" routerLink="/exit">Exit</button>
      </div>
  </div>

  <div class="row">
      <div class="col-md">
        <h3>Opponent's map</h3>
        <h3 *ngIf="opponentWin">Win</h3>
        <app-enemymap [map]="enemyMap" (hit)="hitOnEnemyMap($event)"></app-enemymap>

      </div>

      <div class="col-md">
        <h3>Your map</h3>
        <h3 *ngIf="youWin">Win</h3>
        <app-mymap [map]="myMap"></app-mymap>
      </div>
  </div>
</div>
