<div class="container-fluid">
  <div class="row equal">
      <div class="col-sm-2">
      <button class="btn btn-primary" routerLink="/placement">New Game</button>
      </div>
      <div class="col-sm-2">
      <button class="btn btn-secondary" routerLink="/exit">Exit</button>
      </div>
  </div>

  <div class="row">
      <div class="col-md">
        <app-enemymap [map]="enemyMap"></app-enemymap>

      </div>

      <div class="col-md">
        <app-mymap [map]="myMap"></app-mymap>
      </div>
  </div>
</div>
