
<div class="container">

  <div class="row">
    <div class="col-5">
      <app-emptymap></app-emptymap>
    </div>
    <div class="col-5 offset-2">
      <app-shiplist></app-shiplist>
    </div>
  </div>

  <!--
  <div class="row">

    <div class="col-2">
      <button class="btn btn-primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: exact}" [routerLink]="['/battle']">Done</button>
    </div>
    <div class="col-2 offset-1">
      <button class="btn btn-secondary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: exact}" [routerLink]="['/exit']">Exit</button>
    </div>

  </div>
-->

</div>


