
<div class="container-fluid">
      <app-emptymap [shipOrientation]="shipOrientation" [shipLength]="shipLength"></app-emptymap>

      <app-orientationchooser (onOrientationChange)="shipOrientationChanged($event)"></app-orientationchooser>
      <app-shiplist (onActiveChanged)="newShipSelected($event)"></app-shiplist>


      <button class="btn btn-primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: exact}" [routerLink]="['/battle']">Done</button>
      <button class="btn btn-secondary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: exact}" [routerLink]="['/exit']">Exit</button>
</div>

